.button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #0284C6; 
    color: #fff;
    padding: 8px;
    transition: .3s; 

    &__txt {
        margin: 0 0px 0 13px;
    }

    &:hover {
        background: #060e13;
        transition: .3s;   
    }
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}