@font-face{
    font-family: 'ProximaNova_Light';
    src: url('../fonts/ProximaNova_Light.ttf');
}

@font-face{
    font-family: 'ProximaNova_Regular';
    src: url('../fonts/ProximaNova_Regular.ttf');
}

@font-face{
    font-family: 'ProximaNova_Semibold';
    src: url('../fonts/ProximaNova_Semibold.ttf');
}